data
data_split
train
split_data.py
wandb
archive
combine.py
humans
saved_model_pond.pth
saved_model_rosy_wave.pth
saved_model.pth
0_saved_model.pth
2_saved_model.pth
4_saved_model.pth
6_saved_model.pth
8_saved_model.pth
output.mp4